{% extends '../component/base.html' %}
{% load crispy_forms_tags %}

{% block content %}
<div class="container d-flex align-items-center justify-content-center">
    <div class="row my-5 w-50">
        <div class="col-xl-12 fs-6">
            <form action="" method="post" class="form">
                {% csrf_token %}
                {{ form|crispy }}
                <div class="d-grid gap-2">
                    <button type="submit" class="btn btn-primary">Login</button>
                    <div class="text-center">
                        Don't have an Account?
                        <span><a class="text-decoration-none fw-bold" href="{% url 'register' %}">Register</a></span>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}